.cta {
  cursor: pointer;
  @include __button-builder($primary, white);
  &:hover {
    @include __button-builder($tertiary, black);
    box-shadow: 0px 3px 5px 0px $grey;
  }
}
.tags {
  &__tag {
    cursor: pointer;
    @include __tag-builder(inherit, $grey, $primary);
    &:hover {
      @include __tag-builder($primary, $primary, white);
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
.like {
  &__count {
    @include __font-builder(1.1rem, 500, $primary);
  }
  &__heart {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    -webkit-text-stroke: 1px $primary;
    -webkit-text-fill-color: transparent;
    &:hover,
    &.liked {
      background-color: $primary;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
