.cta {
  @include __button-builder($primary, white);
  &:hover {
    @include __button-builder($tertiary, black);
    box-shadow: 0px 3px 5px 0px $grey;
  }
}
.tags {
  display: inline;
  &__tag {
    @include __tag-builder(inherit, $grey, $primary);
    &:hover {
      @include __tag-builder($primary, $primary, white);
    }
  }
}
.like {
  &__count {
    @include __font-builder(1.1rem, 500, $primary);
    &--total {
      @include __font-builder(1.1rem, 500, black);
    }
  }
  &__heart {
    color: $primary;
    font-size: 1rem;
    &--total {
      font-size: 1rem;
      color: black;
    }
  }
}
.pp {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0px 3px 5px 0px $grey;
  &--big {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    box-shadow: 0px 3px 5px 0px $grey;
  }
}
