header {
  max-width: 335px;
  margin: 3rem auto 1.5rem;
  position: relative;
  h2 {
    @include __font-builder(0.8rem, 400, $primary);
    position: absolute;
    right: 1.8rem;
  }
}
.navbar {
  margin: 0 1rem;
  &__logo {
    max-width: 150px;
  }
  &__categories {
    display: block;
    margin: 2rem 0;
    padding: 0;
  }
}
