header {
  max-width: 335px;
  margin: 3rem auto 1.5rem;
}
.navbar {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    max-width: 150px;
  }
  &__menu {
    display: none;
  }
  &__header {
    @include __font-builder(1rem, 400, $primary);
  }
}
