.photographers {
  position: relative;
  h1 {
    @include __font-builder(.9rem, 400, $primary);
  }
}
.profiles {
  display: grid;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__caption {
    margin-top: 1rem;
    text-align: center;
  }
  &__name {
    @include __font-builder(2rem, 400, $secondary);
    margin: 0;
  }
  &__location {
    @include __font-builder(1rem, 400, $primary);
    margin: 0;
  }
  &__quote {
    @include __font-builder(0.8rem, 400, black);
    margin: 0.2rem 0;
  }
  &__price {
    @include __font-builder(0.7rem, 400, $dark_grey);
    margin: 0 0 0.5rem;
  }
  &__tags {
    margin: 0;
    padding: 0;
  }
}
