.lightbox {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  padding: 1rem;
  &__modal {
    position: relative;
    height: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__previous,
  &__next {
    cursor: pointer;
    font-size: 1.5rem;
    color: $primary;
    position: absolute;
  }
  &__previous {
    left: 0;
  }
  &__next {
    right: 0;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    color: $primary;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 55vw;
  }
  &__caption {
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
  }
  &__display {
    width: 100%;
    object-fit: contain;
  }
  &__desc {
    @include __font-builder(1.1rem, 500, $primary);
    margin: 0;
  }
}
