@media screen and (max-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1440px) {
  .container {
    width: 100vw;
  }
}
@media screen and (min-width: 600px) {
  .index,
  .work {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    margin: 3rem 3.5rem 1.5rem;
  }
  .about {
    background-color: $light_grey;
    margin: 1rem 3rem;
    padding: 2rem;
    border-radius: 10px;
    &__pic {
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }
    &__name {
      font-size: 3.5rem;
    }
    &__location {
      font-size: 1.75rem;
    }
    &__quote {
      font-size: 1.25rem;
    }
    &__contact {
      position: relative;
      top: -8.2rem;
      left: 3rem;
      z-index: 0;
    }
  }
  .sort {
    margin: 0 3rem;
  }
  .index,
  .work {
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem;
  }
  .work {
    gap: 1.5rem 4rem;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
}
