@media screen and (min-width: 768px) {
  header,
  .index,
  .profile {
    max-width: 700px;
  }
  .about {
    background-color: $light_grey;
    padding: 3rem 2rem;
    border-radius: 10px;
    &__pic {
      width: 180px;
      height: 180px;
      border-radius: 90px;
    }
    &__name {
      font-size: 3.5rem;
    }
    &__location {
      font-size: 1.75rem;
    }
    &__quote {
      font-size: 1.25rem;
    }
  }
  .index,
  .work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .work {
    gap: 0 1.5rem;
  }
  .contact,
  .dialog {
    background-color: rgba($color: $dark_grey, $alpha: 0.75);
  }
  .contact__modal {
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px $dark_grey;
    margin: 4rem auto;
    width: 700px;
  }
  .dialog__modal {
    margin: 20rem auto;
    width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  header,
  .index,
  .profile {
    max-width: 1200px;
  }
  .navbar {
    &__menu {
      display: block;
    }
    &__header {
      font-size: 1.8rem;
    }
  }
  .about__contact {
    position: inherit;
  }
  .index,
  .work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .sort {
    display: block;
    margin: 2rem 1rem;
  }
  .work {
    margin: 0 1rem 4rem;
    gap: 0.5rem 3.5rem;
    &__display {
      height: 300px;
    }
  }
  .likes-price {
    display: block;
  }
  .lightbox__modal {
    max-width: 80vw;
    margin: 2rem auto;
  }
}
