@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1440px) {
  body {
    width: 100vw;
  }
}
@media screen and (min-width: 600px) {
  .index,
  .work {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .index,
  .work {
    grid-template-columns: repeat(3, 1fr);
  }
  .work {
    gap: 1.5rem 4rem;
  }
}
@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }
}
