.contact {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  &__modal,
  &__dialog {
    padding: 1rem;
  }
  &__modal {
    position: relative;
    background-color: $tertiary;
  }
  &__dialog {
    display: none;
    position: fixed;
    top: 30vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $dark_grey;
    text-align: center;
  }
  &__error,
  &__success {
    @include __font-builder(1.5rem, 400, white);
  }
  &__close {
    cursor: pointer;
    border: none;
    background: transparent;
    float: right;
    font-size: 2rem;
    color: white;
  }
  &__header {
    margin: 0;
    @include __font-builder(2.25rem, 400, black);
  }
  &__form {
    margin-top: 1rem;
  }
}
.form {
  &__data {
    position: relative;
    margin-bottom: 0.75rem;
    label {
      display: block;
      margin-bottom: 0.5rem;
      @include __font-builder(1.25rem, 400, black);
    }
  }
  &__data[data-error]::after {
    content: attr(data-error);
    display: block;
    opacity: 0;
    margin-top: 0.5rem;
    @include __font-builder(0.75rem, 400, $primary);
  }
  &__data[data-error-visible='true']::after {
    opacity: 1;
  }
  &__data[data-error-visible='true'] &__input,
  &__message {
    border: 2px solid $primary;
  }
  &__input,
  &__message {
    @include __font-builder(1rem, 400, black);
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
  }
  &__message {
    height: 200px;
  }
}
