.contact {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  &__modal {
    height: 100%;
    padding: 1rem;
    position: relative;
    background-color: $tertiary;
  }
  &__close {
    cursor: pointer;
    border: none;
    background: transparent;
    float: right;
    font-size: 2rem;
    color: white;
  }
  &__header {
    margin: 0;
    @include __font-builder(2.25rem, 400, black);
  }
  &__form {
    margin-top: 1rem;
  }
}
.dialog {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
  &__modal {
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px $dark_grey;
    margin: 35vh auto 0;
    width: 90vw;
    padding: 1rem;
    position: relative;
    background-color: $dark_grey;
  }
  &__text {
    @include __font-builder(1.5rem, 400, white);
  }
}
.form {
  &__data {
    position: relative;
    margin-bottom: 0.75rem;
    label {
      display: block;
      margin-bottom: 0.5rem;
      @include __font-builder(1.25rem, 400, black);
    }
  }
  &__error {
    display: block;
    height: 15px;
    margin-top: 0.5rem;
    @include __font-builder(0.75rem, 400, $primary);
  }
  &__data[data-error-visible='true'] &__input,
  &__message {
    border: 2px solid $primary;
  }
  &__input,
  &__input::before,
  &__input::after,
  &__message,
  &__message::before,
  &__message::after {
    box-sizing: border-box;
  }
  &__input,
  &__message {
    @include __font-builder(1rem, 400, black);
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
  }
  &__message {
    height: 200px;
  }
}
