.profile {
  max-width: 335px;
  margin: 0 auto;
}
.about {
  max-width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  &__pic {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    object-fit: cover;
    box-shadow: 0px 3px 5px 0px $grey;
  }
  &__name {
    @include __font-builder(3rem, 400, $secondary);
    margin: 0;
  }
  &__location {
    @include __font-builder(1.5rem, 400, $primary);
    margin: 0.15rem 0 0;
  }
  &__quote {
    margin: 0.5rem 0;
    @include __font-builder(1rem, 400, $dark_grey);
  }
  &__tags {
    padding: 0;
    position: relative;
  }
  &__contact {
    position: fixed;
    z-index: 5;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.sort {
  display: none;
  margin: 1rem;
  &__method {
    @include __font-builder(1rem, 500, black);
  }
  &__select {
    appearance: none;
    margin-left: 1rem;
    display: inline-block;
    position: relative;
    z-index: 10;
    @include __button-builder($primary, white);
    font-size: 1rem;
    width: 170px;
    background-image: url('../content/down-chevron.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
    background-size: 10px;
    &:focus {
      border-radius: 5px 5px 0 0;
    }
    &:hover,
    &:focus {
      box-shadow: 0px 3px 5px 0px $grey;
    }
  }
}
.work {
  margin: 0 1rem 7rem;
  &__card {
    max-width: 100%;
    margin: 0;
  }
  &__button {
    width: 100%;
    border: none;
    background: none;
  }
  &__display {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  &__caption {
    margin: 0.8rem 0 1rem;
    display: flex;
    justify-content: space-between;
  }
  &__desc {
    @include __font-builder(1.1rem, 500, $primary);
    margin: 0;
  }
}
.likes-price {
  display: none;
  @include __font-builder(1.3rem, 500);
  background-color: $tertiary;
  padding: 1rem 2rem;
  border-radius: 10px 10px 0 0;
  position: fixed;
  bottom: 0;
  right: 10vw;
  box-shadow: 0px -3px 5px 0px $grey;
  i {
    margin-right: 4rem;
  }
}
